<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519170408267-cra1ujm9pndaviockesntfeplce8635l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519170408267-cra1ujm9pndaviockesntfeplce8635l</string>
	<key>API_KEY</key>
	<string>AIzaSyDRlrlKoOhDOkArIDWJiqBg0UbtHhiBPew</string>
	<key>GCM_SENDER_ID</key>
	<string>519170408267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sk.invoiceApp</string>
	<key>PROJECT_ID</key>
	<string>invoice-e33ed</string>
	<key>STORAGE_BUCKET</key>
	<string>invoice-e33ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519170408267:ios:018230f8c0abaf120272ce</string>
</dict>
</plist>